
CSVs/
instance/
old/
.idea/
test/
test.py
gviz_api.py-1.8.2-py2.7.egg
manage.py


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

*.egg-info/
*.pyc
/money.db

