<!doctype html>

<html lang="en">
<head>

    <title>Joynt</title>
    <link rel="shortcut icon" href="../static/images/user.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/material.min.css">
    <link rel="stylesheet" href="../static/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto2:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900'
          rel='stylesheet' type='text/css'>
    <!--<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.indigo-pink.min.css">-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

</head>
<body>
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <!--<header class="demo-header mdl-layout__header mdl-color--white mdl-color--grey-100 mdl-color-text--grey-600">

        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title" style="padding-left: 16px; cursor: pointer" href="#/home/"
                  onclick="loadHomePage()">Home</span>

        </div>
    </header>-->
    <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-400 mdl-color-text--white">
        <header class="demo-drawer-header">
            <img src="../static/images/user.jpg" class="demo-avatar">

            <div class="demo-avatar-dropdown">
                <span>DEMO ACCOUNTS</span>

                <div class="mdl-layout-spacer"></div>
                <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                    <i class="material-icons" role="presentation"></i>
                    <span class="visuallyhidden"></span>
                </button>
            </div>
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
            <a class="mdl-navigation__link" href="#/home/" onclick="loadHomePage()"><i
                    class="mdl-color-text--blue-grey-400 material-icons"
                    role="presentation">home</i>Home</a>
            <a class="mdl-navigation__link" href="#/budget/" onclick="loadBudgetPage()"><i
                    class="mdl-color-text--blue-grey-400 material-icons"
                    role="presentation">shopping_cart</i>Budget</a>
            <a class="mdl-navigation__link" href="#/stocks/" onclick="loadStocksPage()"><i
                    class="mdl-color-text--blue-grey-400 material-icons"
                    role="presentation">trending_up</i>Stocks</a>
            <a class="mdl-navigation__link" href="#/balances/" onclick="loadBalancesPage()"><i
                    class="mdl-color-text--blue-grey-400 material-icons"
                    role="presentation">account_balance</i>Balances</a>
            <a class="mdl-navigation__link" href="#/spending/" onclick="loadSpendingPage()"><i
                    class="mdl-color-text--blue-grey-400 material-icons"
                    role="presentation">equalizer</i>Spending</a>
            <a class="mdl-navigation__link" href="#/transactions/" onclick="loadTransactionsPage()"><i
                    class="mdl-color-text--blue-grey-400 material-icons"
                    role="presentation">local_atm</i>Transactions</a>
            <a class="mdl-navigation__link" href="#/forecast/" onclick="loadForecastPage()"><i
                    class="mdl-color-text--blue-grey-400 material-icons"
                    role="presentation">fast_forward</i>Forecast</a>
        </nav>
    </div>
    <main class="mdl-layout__content"
          style="background-image: url(../static/images/backgroundbanner.jpg)">

        <div class="mdl-grid demo-content">

            <!-- page divs are appended here -->


        </div>
        </br>
        </br>
        </br>
        </br>
    </main>


</div>
<div>
    <button class="myButton" id="CurrencyButton">USD</button>
    <div class="mdl-tooltip" for="CurrencyButton" style="background-color: #77b55a">
        Currency
    </div>
    <button class="myButton" id="JointButton">Combined</button>
    <div class="mdl-tooltip" for="JointButton" style="background-color: #77b55a">
        User
    </div>
</div>


<script type="text/javascript"
        src='https://www.google.com/jsapi?autoload={"modules":[{"name":"visualization",
                                              "version":"1","packages":["controls"]}]}'>
</script>

<script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js" async></script>

<script src="../static/charts.js"></script>
<script src="../static/chartsInstances.js"></script>
<script src="../static/forecast.js"></script>
<script src="../static/helperfunctions.js"></script>
<script src="../static/main.js"></script>


</body>
</html>
